@import "../../../sass-vars/palette-colors";

.svg {
  width: auto;
  height: 100%;
  cursor: pointer;
}

.container {
  fill: white;
}

.letter {
  fill: $primary;
}

@media (hover: hover) {
  .svg:hover .container {
    fill: $accent;
  }
}