@import '../../../sass-vars/breakpoints';

:host {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery-img {
  flex: 1 1 33%;
  display: flex;
  margin-right: 0.5%;
  margin-bottom: 0.5%;
  cursor: zoom-in;
  position: relative;
  
  @-moz-document url-prefix() {
    margin-bottom: 5px !important; // For FireFox: this will create NOT ISOLATED css rule, so be careful
  }
}

.gallery-img /deep/ img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.long-img {
  flex-basis: 66.5%;
}

.gallery-img:nth-child(3), .gallery-img:last-child{
  margin-right: 0;
}
