@import '../../../sass-vars/breakpoints';

:host {
  width: 100vw;
  height: 100vh;
  background: rgba(58, 58, 58, 0.93);
  display: flex;
}

.slide {
  margin: auto;
  max-width: 1920px;
}

.gt-sm-slide {
  width: 70vw;
  height: auto;
  
  @media #{$gt-md} {
    width: 50vw;
  }
}

.slide_long {
  width: 100vw;
}

.slide_tall /deep/ img {
  height: 100vh;
  width: auto;
}

$btn-width: 3rem;
$btn-width-gt-xs: 4rem;
$btn-width-gt-sm: 5rem;
.close-btn {
  position: absolute;
  right: 0;
  top: 0;
  background: transparent;
  cursor: pointer;
  height: $btn-width;
  width: $btn-width;
  display: block;
  
  @media #{$gt-xs} {
    height: $btn-width-gt-xs;
    width: $btn-width-gt-xs;
  }
  
  @media #{$gt-sm} {
    height: $btn-width-gt-sm;
    width: $btn-width-gt-sm;
  }
}

.arrow {
  position: absolute;
  top: $btn-width;
  width: $btn-width;
  height: calc(100vh - #{2 * $btn-width});
  left: 0;
  display: block;
  cursor: pointer;
  background: transparent;
  
  @media #{$gt-xs} {
    top: $btn-width-gt-xs;
    width: $btn-width-gt-xs;
    height: calc(100vh - #{2 * $btn-width-gt-xs});
  }
  
  @media #{$gt-sm} {
    top: $btn-width-gt-sm;
    width: $btn-width-gt-sm;
    height: calc(100vh - #{2 * $btn-width-gt-sm});
  }
}

.arrow-right {
  left: auto;
  right: 0;
}

.close-btn /deep/ .svg, .arrow /deep/ .svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2rem;
}

.arrow /deep/ .svg {
  width: 2.5rem;
}

@media (hover: hover) {
  .close-btn:hover, .arrow:hover  { /* TODO: media hover */
    background: rgba(0, 0, 0, 0.2);
  }
  
  .close-btn:hover /deep/ .svg, .arrow:hover /deep/ .svg{ /* TODO: media hover */
    fill: white;
  }
}