@import "../../../sass-vars/breakpoints";
@import "../../../sass-vars/palette-colors";
$text-side-padding: 1.4rem;


:host {
  background: white;
  cursor: pointer;
  flex: 1 1 25%;
  box-shadow: 0 2px 3px 0 rgba(100, 100, 100, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 1rem;
  
  
  
  @media #{$sm} {
    margin: 0 0.4rem;
    
    &:nth-child(2) {
      margin: 0;
    }
  }
}

.thumbnail {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 10rem;
}

.thumbnail /deep/ img {
  transform: scale(1);
  transition: transform 3s ease-in-out;
  height: 100%;
  object-fit: cover;
}

.text-container {
  padding: 0 $text-side-padding;
  margin-bottom: auto;
}

.title, .paragraph {
  text-align: left;
}

.title {
  font-weight: 400;
  color: #444444;
  font-size: 1.2rem;
  line-height: 1.9rem;
  margin: 1.7rem 0 1.9rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid $primary-dark;
  
  @media #{$gt-sm} {
    font-size: 1.4rem;
  }
}

.paragraph {
  font-size: 0.7rem;
  line-height: 1.4rem;
  padding: 0;
  color: #888888;
  
  @media #{$gt-sm} {
    font-size: 0.8rem;
  }
}

.actions-container {
  padding: 1.5rem $text-side-padding 2rem;
  text-align: left;
}

@media (hover: hover) {
  :host:hover /deep/ img {
    transform: scale(1.2);
  }
}