@import '../../../../sass-vars/breakpoints';

:host {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.img {
  flex: 1 1 33%;
  margin-right: 0.5%;
  margin-bottom: 0.5%;
  cursor: zoom-in;
  position: relative;
  height: 18vw;
  max-height: 17rem;
}

.img /deep/ img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.long-img {
  flex-basis: 66.5%;
}

.img:nth-child(3), .img:last-child{
  margin-right: 0;
}
