@import "sass-vars/breakpoints";
@import "sass-vars/header";
@import "sass-vars/footer";

:host {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
}

.main {
  overflow: hidden;
  margin-bottom: auto;
  position: relative;
  background: hsla(0, 0%, 94%, 1);
  height: calc(100vh - #{$header-height-xs} - #{$footer-height-xs});
  
  @media #{$gt-xs} {
    height: calc(100vh - #{$header-height-gt-xs} - #{$footer-height-gt-xs});
  }
}