@import "../sass-vars/breakpoints";
@import "../sass-vars/header";
@import "../sass-vars/footer";

:host {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  overflow: hidden;
  overflow-y: auto;
  margin-bottom: auto;
  height: calc(100vh - #{$header-height-xs} - #{$footer-height-xs});
  
  @media #{$gt-xs} {
    height: calc(100vh - #{$header-height-gt-xs} - #{$footer-height-gt-xs});
  }
}

$margin: 3rem;
.template-container {
  position: relative;
  max-width: 960px;
  margin: 3rem auto;
  padding: 0 4rem;
  min-height: calc(100vh - #{$header-height-xs} - #{$footer-height-xs} - #{2 * $margin});
  
  @media #{$gt-xs} {
    min-height: calc(100vh - #{$header-height-gt-xs} - #{$footer-height-gt-xs} - #{2 * $margin});
  }
}