@import '~normalize.css';
@import './sass-vars/breakpoints';

// Angular Material theming
@import '~@angular/material/theming';
@include mat-core();

$gprostV1-app-primary: mat-palette($mat-amber);
$gprostV1-app-accent:  mat-palette($mat-indigo, A200, A100, A400);

$gprostV1-app-theme: mat-light-theme($gprostV1-app-primary, $gprostV1-app-accent);

@include angular-material-theme($gprostV1-app-theme);


// Global styles

html {
  font-size: 13.5px;
  
  @media #{$gt-xs} {
    font-size: 16px;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #636261;
}

h1 {
  margin-top: 0;
  margin-bottom: 4rem;
  
  @media #{$gt-xs} {
    text-align: center;
  }
}

p {
  line-height: 2rem;
  font-size: 1.2rem;
}