@import '~normalize.css';
@import './sass-vars/breakpoints';
@import './sass-vars/palette-colors';

// Global styles

html {
  font-size: 13.5px;
  
  @media #{$gt-xs} {
    font-size: 16px;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  color: $font-main-color;
}

img {
  width: 100%;
  height: auto;
}

h1 {
  margin: 0;
}

button {
  outline: none;
  border: none;
}