@import '../../../sass-vars/header';
@import '../../../sass-vars/footer';
@import '../../../sass-vars/breakpoints';
@import '../../../sass-vars/page-container';

:host {
  @include page-container();
}

.page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  max-width: 960px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 4rem 0;
  text-align: center;
  min-height: calc(100vh - #{$header-height-xs} - #{$footer-height-xs});
  
  @media #{$gt-xs} {
    min-height: calc(100vh - #{$header-height-gt-xs} - #{$footer-height-gt-xs});
    padding: 4rem 0;
  }
}

.small-loader {
  color: white;
}